.advantage {
  padding-top: 80px;
}
.advantage__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  color: #000;
  margin-bottom: 56px;
}
.advantage__cards {
  display: flex;
  justify-content: center;
}
.advantage__card {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(95, 203, 219, 0.2);
  border-radius: 30px;
  background: rgba(246, 248, 253, 0.75);
  padding: 44px 42px 54px;
  margin-right: 21px;

  &:last-child {
    margin: 0;
  }
}
.advantage__card-img {
  width: 32px;
  margin-bottom: 15px;
}
.advantage__card-img--service {
  width: 32px;
}
.advantage__card-img--advantages {
  width: 40px;
}
.advantage__card-img--professionals {
  width: 48px;
}
.advantage__card-img--quarantee {
  width: 40px;
}
.advantage__card-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #000;
}
