.basket__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 37px 53px 124px 25px;
}
.basket__title {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 48px;
  color: #000;
  margin-bottom: 53px;
}
.basket__inner-item {
  display: flex;
  align-items: center;
  column-gap: 20px;
  border-top: 1px solid #000;
  padding-top: 51px;
  padding-bottom: 57px;
}
.basket__inner-img {
  width: 282px;
}
.basket__inner-title {
  font-family: 'Inter';
  font-size: 48px;
  color: #000;
  margin-bottom: 44px;
}
.basket__innet-details {
  display: flex;
  align-items: center;
  column-gap: 82px;
}
.basket__inner-price_current {
  font-family: 'Inter';
  font-size: 48px;
  color: #000;
  margin-bottom: 12px;
}
.basket__inner-price_salebox {
  display: flex;
  align-items: center;
  column-gap: 26px;
}
.basket__inner-price_old {
  font-family: 'Inter';
  font-size: 32px;
  color: #999;
  text-decoration: line-through;
}
.basket__inner-price_sale {
  display: block;
  width: 50px;
  padding: 3px 0;
  text-align: center;
  font-family: 'Inter';
  font-size: 15px;
  color: #fff;
  background: #bd3232;
  border-radius: 9px;
}
.basket__inner-size {
  color: #fff;
  background: #000;
  width: 50px;
  text-align: center;
  border-radius: 20px;
}
.basket__inner-controls {
  background: #f1f1f1;
  border-radius: 15px;
  max-width: 275px;
  display: flex;
  align-items: center;
  column-gap: 93px;
  padding: 17px 37px 17px 32px;
}
.basket__inner-count {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 32px;
  color: #000;
}
.basket__inner-addToOrder {
  display: block;
  background: #257ae8;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  width: 300px;
  padding: 10px 0;
  border-radius: 8px;
  margin: 50px auto 0;
  transition: all 0.3s;

  &:hover {
    scale: 1.1;
  }
}

// Orders (in user account)
.orders__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 37px 53px 124px 25px;
}
.orders__title {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 48px;
  color: #000;
  margin-bottom: 53px;
}
.orders__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px 25px;
}

.orders__item {
  width: 520px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.orders__good-img {
  max-width: 200px;
  max-height: 159px;
  margin-bottom: 10px;
}
.orders__good-title {
  font-weight: 700;
  font-size: 16px;
  width: 200px;
}
.orders__good-price {
  font-weight: 300;
  font-size: 23px;
  color: #000;
}
.basket__inner-size--orders {
  margin-bottom: 10px;
}
.orders-controls {
  margin-top: 20px;
}
.orders__consideration {
  width: 150px;
  color: #fff;
  text-align: center;
  border-radius: 9px;
  font-size: 12px;
}
.orders__consideration--null {
  background: gray;
}
.orders__consideration--accept {
  background: green;
  width: 90px;
}
.orders-controls_dismiss {
  display: block;
  color: #fff;
  width: 130px;
  text-align: center;
  padding: 5px 0;
  border-radius: 9px;
  background: red;
  transition: all 0.3s;
  margin-top: 15px;

  &:hover {
    scale: 1.1;
  }
}
