.collection {
  padding-top: 255px;
  padding-bottom: 275px;
}
.collection__title {
  font-weight: 300;
  font-size: 88px;
  line-height: 1.22727;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.collection__inner {
  position: relative;
}
.collection__slider {
  margin-top: 137px;
  max-width: 1226px;
}
.collection__slider-wrapper {
  max-width: 1241px;
}
.collection__slide {
  max-width: 533px;
}
.collection__slide-img {
  border-radius: 68px;
  width: 533px;
  height: 533px;
}
.collection__slide-link {
  display: block;
  margin-top: 12px;
  font-weight: 500;
  line-height: 1.42857;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #257ae8;
}
.collection__slide-prev {
  position: absolute;
  top: 50%;
  left: 0;
  &:hover {
    svg path {
      fill-opacity: 1;
    }
  }
  z-index: 1;
}
.collection__slide-next {
  position: absolute;
  top: 50%;
  right: 0;
  &:hover {
    svg g {
      opacity: 1;
    }
  }
  z-index: 1;
}
