.favourites__wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.favourites__title {
  font-family: 'Inter';
  font-size: 48px;
  color: #000;
  margin-bottom: 25px;
}
.favourites__list {
  padding: 60px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 100px;
}
.favourites__list-item {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.favourites__list-img {
  margin-bottom: 103px;
}
.favourites__list-info {
}
.favourites__list-price {
  font-family: 'Inter';
  font-size: 14px;
  color: #000;
  margin-bottom: 13px;
}
.favourites__list-title {
  font-family: 'Inter';
  font-size: 16px;
  color: #000;

  &:hover {
    text-decoration: underline;
  }
}
.favourites__list-rating {
  margin-top: 17px;
}
.favourites__list-rate {
}

.favourites__list-del_link {
  position: absolute;
  top: -15px;
  right: -15px;
}
.favourites__list-del {
  display: block;
  background: #666;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  position: relative;
  transition: all 0.3s;

  &:hover {
    background: #272727;
  }
  &::before {
    content: '';
    width: 14px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background: #fff;
  }
  &::after {
    content: '';
    width: 14px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #fff;
  }
}
