.guarantee {
  padding-top: 72px;
  padding-bottom: 77px;
}
.guarantee__inner {
  margin: 0 auto;
}
.guarantee__title {
  padding-left: 60px;
  font-weight: 700;
  font-size: 27px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000;
}
.guarantee__banner {
  display: block;
  margin-top: 60px;
}
