.instructions {
  background: #f2f2f2;
  max-height: 963px;
}
.instructions__inner {
  max-width: 1380px;
  margin: 0 auto 162px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background: #fff;
  position: relative;
  top: -40px;

  &:last-child {
    margin: 0;
  }
}
.instructions__titlebox {
  padding: 40px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 8px 8px 0 0;
}
.instructions__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #000;
}
.instructions__body {
}
.instructions__body-first {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 88px 0;
}
.instructions__body-first_list {
  max-width: 396px;
}
.instructions__body-first_item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 32px;
  padding-left: 17px;
  position: relative;

  &:last-child {
    margin: 0;
  }

  &::before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: -35px;
    transform: translateY(-50%);
    background: url('../img/icons/trade-in/list-item.svg');
  }
}
.instructions-first-decor {
  margin-left: 72px;
}
.instructions__body-first_btn {
  display: block;
  font-weight: 600;
  line-height: 1.42857;
  text-align: center;
  color: #fff;
  max-width: 360px;
  border-radius: 8px;
  background: #257ae8;
  padding: 14px 0;
  margin: 0 auto 89px;
  transition: all 0.3s;

  &:hover {
    scale: 1.1;
  }
}
.instructions__second-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 47px;
  column-gap: 16px;
  max-width: 1380px;
  padding: 64px 0 57px 70px;
}
.instructions__second-item {
  max-width: 416px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  padding-left: 16px;
  position: relative;

  &::before {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: -34px;
    transform: translateY(-50%);
    background: #000;
  }
}
