.meet {
  padding-top: 86px;
  padding-bottom: 117px;
  max-width: 515px;
  margin: 0 auto;
  position: relative;

  &::before {
    content: '';
    width: 218px;
    height: 413px;
    position: absolute;
    top: 50%;
    left: -135%;
    transform: translateY(-50%);
    background: url('../img/for-order/1.png');
  }
  &::after {
    content: '';
    width: 218px;
    height: 413px;
    position: absolute;
    top: 0;
    right: -135%;
    background: url('../img/for-order/2.png');
  }
}
.meet__title {
  font-size: 40px;
  letter-spacing: 0.07em;
  text-align: center;
  color: #000;
}
.meet__subtitle {
  font-weight: 300;
  font-size: 24px;
  color: #000;
  margin-top: 32px;
}
.meet__btn {
  display: block;
  font-family: 'Inter';
  font-size: 24px;
  color: #fff;
  text-align: center;
  background: #3b55ac;
  border-radius: 9px;
  max-width: 234px;
  padding: 6px 0;
  margin: 37px auto 0;
  transition: all 0.3s;

  &:hover {
    scale: 1.1;
  }
}

// Order
.order {
  padding-bottom: 202px;
  position: relative;

  &::before {
    content: '';
    width: 501px;
    height: 860px;
    position: absolute;
    top: 0;
    right: 10%;
    background: url('../img/for-order/form-decor.png');
  }
}
.order__form {
  padding: 43px;
  max-width: 714px;
}
.order__title {
  font-size: 19px;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  max-width: 354px;
  margin-bottom: 60px;
}
.order__form-label {
  display: block;
  margin-bottom: 10px;
  max-width: 635px;
}
.order__form-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 18px;
}
.order__form-input {
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  padding: 5px 17px;
  width: 100%;
}
.order__form-textarea {
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  width: 100%;
  padding: 23px;
  resize: vertical;
}
.order__form-btn {
  display: block;
  margin: 42px auto 0;
  padding: 15px 36px;
  font-family: 'Inter';
  font-size: 32px;
  color: #fff;
  background: #3b55ac;
  border-radius: 15px;
  transition: all 0.3s;

  &:hover {
    scale: 1.1;
  }
}
