.profile__wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.profile__header {
  background: url('../img/profile-page/profile-head.jpg');
  padding: 31px 61px 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__header-info {
}
.profile__name {
  font-family: 'Inria Serif';
  font-weight: 300;
  font-size: 36px;
  color: #fff;
}
.profile__number {
  font-family: 'Inria Serif';
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}
.profile__header-edit {
  font-family: 'Inria Serif';
  font-size: 24px;
  color: #fff;
}
.profile__body {
  padding: 70px 62px 88px;
}
.profile__links {
  margin-bottom: 66px;
}
.profile__links-item {
  margin-bottom: 46px;
  position: relative;
  padding-left: 45px;

  &:last-child {
    margin: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
.profile__links-item--city {
  &::before {
    width: 37px;
    height: 37px;
    background: url('../img/icons/profile/waypoint.svg');
  }
}
.profile__links-item--orders {
  &::before {
    width: 30px;
    height: 34px;
    background: url('../img/icons/profile/orders.svg');
  }
}
.profile__links-item--favourite {
  &::before {
    width: 35px;
    height: 35px;
    background: url('../img/icons/profile/favourite.svg');
  }
}
.profile__links-item--basket {
  &::before {
    width: 38px;
    height: 36px;
    background: url('../img/icons/profile/basket.svg');
  }
}
.profile__links-item--notify {
  &::before {
    width: 31px;
    height: 31px;
    background: url('../img/icons/profile/notifications.svg');
  }
}
.profile__links-link {
  font-family: 'Inter';
  font-size: 24px;
  color: #000;

  &:hover {
    text-decoration: underline;
  }
}
.profile__services-title {
  font-family: 'Inter';
  font-size: 36px;
  color: #000;
  margin-bottom: 44px;
}
.profile__services {
  display: flex;
}
.profile__services-item {
  margin-right: 36px;

  &:last-child {
    margin: 0;
  }
}
.profile__services-link {
  &:hover {
    .profile__services-img {
      scale: 1.1;
    }
  }
}
.profile__services-img {
  transition: all 0.3s;
  border-radius: 38px;
}
.profile__socials {
  margin-top: 80px;
}
.profile__socials-item {
  margin-bottom: 35px;
  position: relative;
  padding-left: 45px;
  &:last-child {
    margin: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
.profile__socials-item--telegram {
  &::before {
    background: url('../img/icons/profile/tg.svg');
    width: 36px;
    height: 35px;
  }
}
.profile__socials-item--whatsapp {
  &::before {
    background: url('../img/icons/profile/whatsapp.svg');
    width: 35px;
    height: 34px;
  }
}
.profile__socials-item--phone {
  &::before {
    background: url('../img/icons/profile/phone.svg');
    width: 45px;
    height: 45px;
    left: -5px;
  }
}
.profile__socials-link {
  font-family: 'Inter';
  font-size: 24px;
  color: #000;

  &:hover {
    text-decoration: underline;
  }
}
.profile__footer {
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
  padding-left: 62px;
  row-gap: 25px;
}
.profile__footer-link {
  font-family: 'Inter';
  font-size: 24px;
  color: #000;

  &:hover {
    text-decoration: underline;
  }
}
