.service__banner {
  padding-top: 48px;
}
.service__banner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service__banner-top {
  background: url('../img/service/main-banner-bcg.png') no-repeat;
  margin: 0 auto;
  padding: 112px 430px 115px;
  margin-bottom: 60px;
}
.service__banner-top_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.service__banner-top_subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.service__banner-top_text {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  max-width: 282px;
  margin: 0 auto;
}
.service__banner-bottom {
  background: url('../img/service/second-banner-bcg.png') no-repeat;
  border-radius: 24px;
  max-width: 1185px;
  margin: 0 auto;
  padding: 32px 155px;
  position: relative;

  &::before {
    content: '';
    width: 464px;
    height: 141px;
    position: absolute;
    top: -99%;
    left: 31%;
    background: url('../img/service/second-banner-decor.png');
  }
}
.service__banner-bottom_content {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #fff;
  max-width: 874px;
  margin: 0 auto;
}
